@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
	--palette_yellow: #FCD00D;
	--palette_yellow_focus: #e0ba0f;
	--palette_yellow_active: #c4a20f;
	--palette_black: #211F20;
	--palette_white: #FFFFFF;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.presentation_background_wrap {
	background-image: url("../img/presentation_background_wrap.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	font-size: 95.91px;
	font-weight: 400;
	margin: 30px 0;
}

h2 {
	font-size: 22.08px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

h3 {
	font-size: 15px;
	color: black;
}

header {
	height: 90px;
	padding: 0 38px;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 125px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	column-gap: 20px;
}

nav {
	display: flex;
}

nav li {
	display: inline-block;
	transition: transform 1s;
}

nav li:hover {
	transform: translateY(5px);
}

nav a {
	font-size: 24.46px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #000;
	text-transform: lowercase;
	text-decoration: none;
}


main {
	width: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth
}

.presentation_header_section {
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.presentation_caption {
	width: 100%;

}

.presentation_caption h1 {
	width: 1300px;
}

footer {
	width: 100%;
	height: 90px;
}


.info_content {
	height: 775px;
	display: flex;
	flex-direction: row;
}

.info_content:nth-child(2n) {
	flex-direction: row-reverse;
}

.info_content .info_img_wrap {
	flex: 0 0 40.7%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}


.info_img_wrap img {
	height: 100%;
	width: auto;
}

.info_content .info_text_wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 50px 70px 150px;
}

.info_text_wrap .info_text {
	color: var(--palette_white);
	font-size: 23px;
}

.info_text_wrap h1 {
	color: var(--palette_yellow);
}

.info_about .info_text_wrap {
	background-color: var(--palette_black);
}

.info_services .info_text_wrap {
	background-color: var(--palette_white);
	position: relative;
}

.info_services .info_text_wrap .info_text {
	color: var(--palette_black);
}

.info_services .text_decoration {
	position: absolute;
	width: 225px;
	height: auto;
	top: 0;
	left: 0px;
}

.info_investors h1,
.info_investors .info_text {
	color: var(--palette_black);
}

.info_investors .info_text_wrap {
	background-color: var(--palette_yellow);
}

.info_text_wrap .info_buttons {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	column-gap: 70px;
}

.info_buttons .info_button_instance {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	align-items: center;
	border: 0;
	border-radius: 100px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	line-height: 20px;
	width: 297px;
	height: 75px;
	max-width: 480px;
	min-height: 75px;
	min-width: 0px;
	overflow: hidden;
	padding: 0px;
	padding-left: 25px;
	padding-right: 30px;
	text-align: center;
	touch-action: manipulation;
	transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, 
				box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, 
				color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	justify-content: space-between;
}

.info_button_instance.yellow {
	background-color: var(--palette_yellow);
	color: var(--palette_black);
}

.info_button_instance.yellow:hover,
.info_button_instance.yellow:focus {
	background-color: var(--palette_yellow_focus);
}

.info_button_instance.yellow:active {
	background: var(--palette_yellow_active);
}

.info_button_instance.black {
	background-color: var(--palette_black);
	color: var(--palette_white);
}

.info_button_instance.black:hover,
.info_button_instance.black:focus {
	transition: all 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	color: #d4d4d4;
}

.info_button_instance.black:hover img,
.info_button_instance.black:focus img {
	filter: brightness(0.8);
	transition: all 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

footer {
	background-color: var(--palette_black);
	/* padding-top: 30px; */
	height: auto;
}

footer .footer_content {
	display: flex;
	justify-content: center;
	column-gap: 52px;
}

.footer_info {
	display: flex;
	flex-direction: column;
}

.footer_info>div {
	border-bottom: 1px solid var(--palette_white);
	padding: 20px 0;
}

.footer_contact_list {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	column-gap: 17px;
	margin: 0;
	padding: 0;
}

.footer_contact_list span {
	color: var(--palette_white);
	font-size: 12px;
}

.footer_contact_list .contact_info {
	font-weight: 600;
}

.footer_info .site_map {
	display: flex;
	color: var(--palette_white);
	justify-content: space-between;
}

.footer_info .site_map_list {
	flex: 0 0 610px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	margin: 0;
	padding: 0;
}

.footer_info .site_map_list .map_link,
.footer_company_label .company_link {
	color: var(--palette_white);
	text-decoration: none;
}

.footer_info .site_map_list .map_link::after,
.footer_company_label .company_link::after {
	content: '';
	display: block;
	height: 2px;
	position: relative;
	width: 0%;
	margin-top: 2px;
	background-color: var(--palette_white);
	transition: width 0.5s;
}

.site_map_list .map_link:hover.map_link::after,
.footer_company_label .company_link:hover.company_link::after {
	width: 100%;
}

.footer_social_links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	column-gap: 13px;
}

.footer_social_links .social_link {
	transition: transform 0.5s;
}

.footer_social_links .social_link:hover {
	transform: scale(1.1);
}

footer .footer_company_label {
	color: var(--palette_white);
	padding: 61px 0 30px;
	text-align: center;
}

.footer_company_label .company_link {
	display: inline-block;
}